@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Figtree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: rgb(145, 22, 0); */
}




header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    width: 8%;
}

.navLinks{
    list-style: none;
}

.navLinks li {

    display: inline-block;
    padding:0 20px;
}

.navLinks li a {
    font-family:"Figtree",sans-serif;
    font-weight:500;
    transition: all 0.3s ease 0s;
    color : white ;
    text-decoration : none;
    font-size: 110%;
}

.navLinks li a:hover {

    color: #d1e83c;

}

.background{

    background-image: url('home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 200px; */
    height: 100vh;

}

.text{

 color:white;
 font-weight:500;
 font-family: "Figtree", sans-serif;
 font-size: 190%;
 text-align: center;
 padding-top: 8%;
 text-shadow: 2px 2px red;
 

}


  .text h1 {
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 2s steps(22,end) forwards,
              blink 1s infinite;
  }
  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid rgb(255, 255, 255);
    }
  }
  #btn{
    position: relative;
    margin: 10% 0 0 30%;
    
  }

